#carousel img {
    height: 500px; /* or any desired height */
    object-fit: cover; /* Ensures the image covers the entire area without stretching */
    border-radius: 25%;
    margin-top: 50px;
}

h1 {
    text-align: center;
}